@using HelloMvc.Web.Models
@model Hello
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hello World";
}

<h1>
    Hello @Model.Name
</h1>
<p>
    You were served by @Model.Host. The cached time is @Model.CachedTime
</p>
