@using HelloMvc.Web.Models
@model Hello
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hello World";
}

<p>
    Hello @Model.Name, from @Model.Host.
</p>
<p>
    The cached time is @Model.CachedTime.
</p>
